.brandingImageDiv{
    position: relative;
    width: 100%;
    height: 70vh;
}
.brandingImage{
    width: 100%;
    height: 100%; 
}
.brandingContentDiv{
    position: absolute;
    top: 0;
    width: 100%;
    height: 70vh;
}
@media only screen and (max-width: 1024px){
    .brandingImageDiv{
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .brandingImage{
        width: 100%;
        height: 100%;
    }
    .brandingContentDiv{
        position: absolute;
        top: 0;
        width: 100%;
        height: 50vh;
    }
}